{{ $headline := partial "article/headline.html" . }}
{{ $matches := findRESubmatch `(?ms)^##\s+(?:今日头条|Top Story)\s*\n+([^\n]+)` .RawContent 1 }}
{{ with $matches }}
  {{ $paragraph := index (index . 0) 1 | plainify }}
  {{ $sentences := split $paragraph ". " }}
  {{ $headline = index $sentences 0 }}
  {{ if and (gt (len $sentences) 1) (not (hasSuffix $headline ".")) }}{{ $headline = printf "%s." $headline }}{{ end }}
{{ end }}
{{ if gt (len $headline) 90 }}
  {{ $headline = index (split $headline ",") 0 }}
  {{ if gt (len $headline) 90 }}{{ $headline = $headline | strings.Truncate 90 }}{{ end }}
{{ end }}
{{ return $headline }}
